body {
  background-color: #333;
  margin: auto;
  color: #ddd;
  font-family: Verdana, sans-serif;
  padding: 20px;
  max-width: 720px;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
}

#navigation-menu-test {
  display: inline;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6
strong,
b {
    color: #eee;
  }

h6.reply-via-email {
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  border: 3px solid #ddd;
  padding: 3px 3px;
  width: 130px;
  height: 25px;
  background-color: #333;
  text-decoration: none;
}

    a {
      color: #8cc2dd;
    }
    
    .title {
    text-decoration: none;
    border: 0;
  }

  nav a {
    margin-right: 10px;
    display: inline;
    list-style-type: none;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #777;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #ccc;
    padding-left: 20px;
    font-style: italic;
  }

  table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid #eee;
  padding: 0 .2em;
}

  /* For post styling */

  ul.posts {
    list-style-type: none;
    padding: unset;
  }

  ul.posts li {
    display: flex;
  }

  ul.posts li span {
    flex: 0 0 130px;
  }

  ul.posts li a:visited {
    color: #8b6fcb;
  }


